{
	"account_import_from": {
		"auth_client": {
			"client_id": "YOUR APPLICATION ID",
			"state": "A RANDOM STRING",
			"redirect_uri": "https://gitlab.com/nikolaychenko/reddit-account-migration-tool",
			"duration": "CHOOSE BETWEEN temporaty AND permanent",
			"scope": "mysubreddits"
		},
		"auth_token": {
			"code": "CODE FROM APP AUTH",
			"redirect_uri": "REDIRECT URI OR YOUR APPLICATION",
			"client_id": "YOUR APPLICATION ID",
			"client_secret": "YOUR APPLICATION SECRET"
		}
	},
	"account_export_to": {
		"auth_client": {
			"client_id": "YOUR APPLICATION ID",
			"state": "A RANDOM STRING",
			"redirect_uri": "https://gitlab.com/nikolaychenko/reddit-account-migration-tool",
			"duration": "CHOOSE BETWEEN temporaty AND permanent",
			"scope": "subscribe"
		},
		"auth_token": {
			"code": "CODE FROM APP AUTH",
			"redirect_uri": "REDIRECT URI OR YOUR APPLICATION",
			"client_id": "YOUR APPLICATION ID",
			"client_secret": "YOUR APPLICATION SECRET"
		}
	}
}